VITE_RESTAURANT_SERVICE_URL=http://localhost:8001
VITE_ORDER_SERVICE_URL=http://localhost:8002
VITE_DRIVER_SERVICE_URL=http://localhost:8003
VITE_DRIVER_API_URL=http://localhost:8003
VITE_RECOMMENDATION_SERVICE_URL=http://localhost:8004
VITE_TRANSLATION_SERVICE_URL=http://localhost:8005
VITE_PROFILE_SERVICE_URL=http://localhost:8006
